<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">

  <test name="137">
    <classes>
      <class name="test.Lec137_Run">
      <methods>
      	<exclude name="Demo.*"/>
      </methods>
      </class>
    </classes>
  </test> <!-- Test -->
  
  <test name="138">
  <classes>
  	<class name="test.Lec138_XML"/>
  </classes>
  </test>
  
  <test name="139">
  <classes> 
  <class name="test.Lec139_Priortize"/>
  </classes>
  </test>
</suite> <!-- Suite -->
